<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
	<display-name>wdkwmsbasic application</display-name>
    <context-param>
        <param-name>loggingRoot</param-name>
        <param-value>/home/admin/wmsbasic/logs</param-value>
    </context-param>
    <context-param>
        <param-name>loggingLevel</param-name>
        <param-value>INFO</param-value>
    </context-param>
    <context-param>
        <param-name>loggingCharset</param-name>
        <param-value>UTF-8</param-value>
    </context-param>
	<context-param>
		<param-name>logSystem</param-name>
		<param-value>log4j</param-value>
	</context-param>
	<context-param>
		<param-name>logConfiguration</param-name>
		<param-value>WEB-INF/log4j.xml</param-value>
	</context-param>
	<context-param>
		<param-name>contextConfigLocation</param-name>
		<param-value>WEB-INF/spring-*.xml</param-value>
	</context-param>
	<listener>
		<listener-class>com.alibaba.citrus.logconfig.LogConfiguratorListener</listener-class>
	</listener>
	<listener>
		<listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
	</listener>

	<servlet>
		<servlet-name>spring</servlet-name>
		<servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
		<load-on-startup>2</load-on-startup>
	</servlet>
	<servlet-mapping>
		<servlet-name>spring</servlet-name>
		<url-pattern>*.do</url-pattern>
	</servlet-mapping>
</web-app>
